<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie edit</title>
</head>

<body>
    <h1>Edit <%= thisMovie.title %></h1>
    
    <form action="/movies/update/<%= thisMovie.id %>" method="POST">
        <label for="title">Title </label>
        <p><input type="text" name="title" id="" value="<%= thisMovie.title %>"></p>
        <label for="rating">Rating </label>
        <p><input type="number" name="rating" id="" value="<%= thisMovie.rating %>"></p>
        <label for="awards">Awards </label>
        <p><input type="number" name="awards" id="" value="<%= thisMovie.awards %>"></p>
        <label for="release_date">Release date </label>
        <p><input type="date" name="release_date" id="" value="<%= thisMovie.release_date %>"></p>
        <label for="length">Length </label>
        <p><input type="number" name="length" id="" value="<%= thisMovie.length %>"></p>
        <label for="genre_id">Genre ID </label>
        <p><input type="number" name="genre_id" id="" value="<%= thisMovie.genre_id %>"></p>
        <button type="submit">Apply changes</button>
    </form>
    <p><a href="/movies"><button>Back to movie index</button></a></p>
</body>

</html>